body{
  section.about{
    height: 100vh;
    width: 100vw;
    background-color: var(--clr-bg-about);
    display: grid;
    align-content: center;
    color:var(--clr-fg-about);
    
    .tagline{  
      margin: 0rem 5rem;
      display: grid;  
      
      span{
        font-size: 3.5rem;
      }
    }
  }
}