:root {
  --clr-foreground: black;
  --clr-background: white;
}

.light-theme {
  --clr-foreground: black;
  --clr-background: white;
}

.dark-theme {
  --clr-background: black;
  --clr-foreground: white;
}